* {
    margin: 0px;
    padding: 0px;
}

.dh {
    background-color: black;
    width: 100%;
    /* height: 75px; */
    position: fixed;
    /* margin-top: -70px; */
}

.dh1 {
    width: 1276px;
    height: 75px;
}

.dh2 {
    width: 100px;
    height: 75px;

}

.dh2 img {
    margin-top: 7px;
}

.dh1,
.dh2 {
    float: left;
}


.dh ul {
    list-style: none;
    background: black;
    margin-left: 334px;
}

.dh ul li {
    display: inline-block;
    position: relative;
}

.dh ul li a {
    background: black;
    display: block;
    padding: 20px 45px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
#xz {
    text-decoration: underline;
    color: #21c84a;
}
.dh ul li a:hover {
    color: #21c84a;
}