.zy {
    background-image: url(https://cdn.pixabay.com/photo/2022/12/01/04/42/man-7628305_1280.jpg);
    background-repeat: no-repeat;
    width: 1250px;
    height: 700px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 70px;
}

#ct1 {
    width: 1250px;
    height: 150px;
    text-align: center;
}

#ct1 h1 {
    color: rgb(0, 255, 255);
    font-size: 50px;
}
.wz1{
margin-top: 0px;


}
.ct2 {
    width: 1250px;
    height: 550px;
}

#sp1 {
    width: 400px;
    margin-top: 0px;
}

.saosa {
    margin-top: -5px;

}

#bq {
    text-align: center;
    width: 621px;
    height: 270px;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
}

#bq h2{
    color: rgb(0,191,255);
    cursor: pointer;
}
/* 下载链接 */
.tz1 {
    margin-top: 0px;
}

#ct1 a {
    text-decoration: none;
color: rgb(0,250,154);
}

#ct1 a:hover {
    color: #21c84a;
    cursor: pointer;
}

* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    background: black;
margin-left: 334px;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    background: black;
    display: block;
    padding: 20px 45px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
#xz {
    text-decoration: underline;
    color: #21c84a;
}
ul li a:hover{
    color: #21c84a;
}

.dh {
    background-color: black;
    width: 100%;
    /* height: 75px; */
    position: fixed;
margin-top: -70px;
}
.dh1 {
    width: 1276px;
    height: 75px;
}
.dh2 {
    width: 100px;
    height: 75px;
 
}
.dh2 img{
margin-top: 7px;
}
.dh1,.dh2{
    float: left;
}