* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.dh {
    height: 70px;
    width: 100%;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 150px;
    bottom: 0;
    position: absolute;
}

.dh ul {
    list-style: none;
    text-align: center;
}

.dh ul li {
    display: inline-block;
}

.dh ul li a {
    display: block;
    padding: 20px 45px;
    color: rgb(41, 218, 221);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

#xz {
    text-decoration: underline;
    color: #21c84a;
}

.dh ul li a:hover {
    color: #21c84a;
}

.ct {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ct video {
    /* position: fixed; */ /* 固定定位 */
    position: absolute; /* 绝对定位 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   /* 保证填满区域 */
    z-index: -1;
}

.xzt {
    width: 100%;
    height: 50px;
    text-align: center;
    color: rgb(255, 0, 255);
    font-size: 35px;
    font-weight: bolder;
    margin: auto;
    left: 0;
    right: 0;
    top: -150px;
    bottom: 0;
    position: absolute;
}

.ssl {
    width: 100%;
    height: 50px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.ssk2 {
    width: 700px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    text-indent: 10px;
    margin-left: 50px;
}

.ssk3 {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: rgb(250, 104, 42);
    vertical-align: middle;
    outline: none;
    color: white;
    font-size: 20px;
}

.ssk3:hover {
    color: rgb(0, 191, 255);
    cursor: pointer;
}

.music {
    position: absolute;
    left: 0;
    bottom: 0;
}

#tiem {
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: -250px;
    margin-left: -6px;
    position: absolute;
}

.sj {
    color: RGB(30, 144, 255);
    font-size: 35px;
}