* {
    margin: 0px;
    padding: 0px;
}

.dh ul {
    list-style: none;
    text-align: center;
}

.dh ul li {
    display: inline-block;
    position: relative;
}

.dh ul li a {
    background: black;
    display: block;
    padding: 20px 45px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

#xz {
    text-decoration: underline;
    color: #21c84a;
}

ul li a:hover {
    color: #21c84a;
}

.dh {
    background-color: black;
    width: 100%;
    height: 75px;
    margin-top: -70px;
    position: fixed;
}

.dh2 {
    width: 100px;
    height: 75px;
    text-align: center;
    position: relative;
    left: 1100px;
    top: -75px;
}

.dh2 img {
    margin-top: 7px;
}

.dh1 {
    width: 750px;
    height: 75px;
    margin: auto;
}

.zt {
    width: 1200px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 70px;
}

.lb a:hover {
    color: #e63881;
    cursor: pointer;
}

.wd a:hover {
    color: #de5656;
    cursor: pointer;
}

.lb {
    position: fixed;
    background-color: RGB(230, 230, 250);
    width: 200px;
    height: 450px;
    margin-left: 140px;
    margin-top: 100px;
}

.wd {
    width: 800px;
    margin-left: 400px;
    margin-top: 0px;
}

.wd img {
    margin-left: 20px;
    margin-top: 10px;
}

.wd li {
    margin-left: 20px;
}

.wd p {
    margin-left: 20px;
}

.wd a {
    color: black;
}

#lj {
    margin-top: 30px;
}

.lb ul {
    list-style: none;
    text-align: center;
}

.lb ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


.bt {
    margin-top: 40px;
    margin-bottom: 30px;
}

.bt3 {
    margin-top: 40px;

}

.nr {
    /* background-color: #16dfd1; */
    width: 800px;
    height: 600px;
    float: left;
    margin-left: 4px;
    margin-bottom: 20px;
}

.lb video {
    width: 200px;
}

.lb img {
    width: 200px;
}